#cars-grid {
	.x-grid-view {
		overflow: hidden !important;
	}
	.x-grid-cell-inner {
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
		white-space: normal;
	}
}