[ui-view='filter'] {
	background-color: $body-background-color;

	> md-card {
		margin-bottom: 0;

		> md-content {
			overflow: inherit;
		}
	}

	&.headerGone {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}

	.filters {
		$font-size: 0.95em;
		$margin-left-right: 3px;

		font-size: $font-size;
		max-height: 560px;

		&.closed {
			display: none;
		}

		[flex='50'] {
			section {
				padding-right: 10px;
				margin-bottom: 20px;
				> * {
					margin-left: $margin-left-right;
				}
				> md-slider, [range-slider] {
					padding-right: 60px;
					height: 35px;
				}
				h3 {
					text-transform: uppercase;
					margin-bottom: 2px;
				}
				button {
					&.md-fab {
						font-size: $font-size;
					}
					margin-left: $margin-left-right;
					margin-right: $margin-left-right;

					&:not(.md-fab) {
						min-width: 50px;
						min-height: 30px;
						line-height: 30px;
						//text-transform: lowercase;
						//&:first-letter {
						//	text-transform: uppercase;
						//}
					}
				}
			}

			.md-input-container {
				margin-right: 30px;
			}
		}

	}

	.filters-selected {
		button.md-raised {
			min-width: 50px;
			min-height: 30px;
			line-height: 30px;
			font-size: 0.9em;
			margin-right: 0;
		}
	}
}