md-input-container {
	width: 100%;
	md-select {
		display: block;
		margin: 0 0 8px 0;
		padding-bottom: 2px;
		position: relative;
		width: 100%;
	}
}

.md-select-menu-container {
	z-index: 2000;
	&.md-active {
		background-color: white;
	}
}

md-backdrop {
	&.md-select-backdrop {
		z-index: 1999;
	}
}

md-select-menu {
	md-option {
		&[selected] {
			font-weight: bold;
		}
	}
}

md-select-label {
	font-size: 1.3em;
	text-transform: capitalize;
}

.md-input-container {
	md-select {
		display: block;
		margin: 0 0 8px 0;
		padding-bottom: 2px;
		position: relative;
		width: 100%;
	}
}
