.quick-filter {
	$height: 35px;

	box-sizing: border-box;
	position: relative;
	line-height: 36px;
	margin: 6px 8px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	height: $height;
	cursor: text;

	&.focus {
		border-color: #3f5185;
	}

	&.empty {
		> span.placeholder {
			display: block;
		}
	}

	> ul {
		padding: 0;
		margin: 0;
		list-style: none;

		> li {
			$color: #676767;

			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			height: $height;
			float: left;

			&#input {
				width: 23em;

				> div {
					border: 0;
					min-width: 200px;
					padding: 0;
					margin: -1px 0 0 0;
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 3;

					> div {
						cursor: pointer;
						text-transform: uppercase;
						background-color: rgba(255, 255, 255, 0.9);
						width: 100%;
						position: relative;
						z-index: 3;
						padding: 10px;
						height: 20px;
						line-height: 20px;

						&:first-child {
							border-top: 1px solid #fff;
						}

						&:hover {
							background-color: $color;
							color: #fff;
						}
					}
				}
			}

			> input {
				text-transform: uppercase;
				box-sizing: border-box;
				border: 1px dotted red;
				border: 0;
				border-bottom: 0;
				height: $height - 1px;
				padding: 2px 2px 1px 10px;
				margin: 0;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				color: rgba(0, 0, 0, 0.258824);
				background-color: transparent;
				z-index: 2;

				&:focus {
					color: inherit;
				}

				&+ input {
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					z-index: 1;
				}
			}

			> div {
				margin-top: 4px;
				padding: 0 0 0 10px;
				border: 1px solid #C5C5C5;
				border-radius: 3px;
				height: $height - 8px;
				margin-right: 5px;
				box-sizing: border-box;

				> a {
					&:visited {
						color: $color;
					}

					font-weight: 600;
					text-transform: uppercase;
					line-height: $height - 8px;
					height: 100%;
					float: left;
					text-decoration: none;
					padding-right: 3px;

					&+ a {
						padding: 0 5px;
						text-align: right;

						&:hover {
							background-color: $color;
							color: #fff;
						}
					}
				}
			}
		}
	}

	> span.placeholder {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 3;
	}
}