table {
	thead > tr > th {
		vertical-align: bottom;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		font-size: .8em;
	}
	tbody > tr > td {
		text-align: center;
		font-family: "Lucida Console";
		font-weight: 300;
		color: #666;
		padding: 2px 3px 1px 3px;
		&:first-letter {
			text-transform: uppercase;
		}
	}
}