<md-card ng-class="parsedEntities.length > 0 ? 'display-none' : ''">
	<md-content layout-padding="" class="md-default-theme">
		<form name="projectForm">
			<input id="{{uploadInput}}" name="file" type="file" class="ng-hide" fileread="upload">
			<md-input-container >
				<a class="md-button md-ink-ripple" target="_blank" href="/api/files/template.xlsx">
					<ng-md-icon icon="file_download"></ng-md-icon>
					Завантажити шаблон для імпорту
				</a>
			</md-input-container>
			<md-input-container>
				<md-button id="uploadTemplate" class="md-raised md-primary"  ng-click="openFileDialog(uploadInput)">
					<ng-md-icon icon="file_upload"></ng-md-icon>
					Імпортувати файл на сайт
				</md-button>
			</md-input-container>
		</form>
	</md-content>
</md-card>
<md-card ng-class="parsedEntities.length == 0 ? 'display-none' : ''">
	<md-toolbar class="md-gray">
		<div class="md-toolbar-tools">
			Дані, що будуть імпортовані ({{ parsedEntities.length }} рядків)
			<span flex></span>
			<md-button class="md-raised" aria-label="Отмена" ng-click="cancelImport()">
				Відмініти
			</md-button>
			<md-button class="md-raised md-primary" aria-label="Сохранить" ng-click="saveImport();">
				<ng-md-icon icon="save"></ng-md-icon> Зберегти
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout-padding="" class="md-default-theme">
		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
			<thead>
				<tr>
					<th>Тип авто</th>
					<th>Клас авто</th>
					<th>Виробник</th>
					<th>Модель</th>
					<th>Комплектація</th>
					<th>Рік випуску</th>
					<th>Тип пального</th>
					<th>Трансмісія</th>
					<th>Витрати пального (комбінований цикл) на 100 km</th>
					<th>Витрати пального (траса)  на 100 km</th>
					<th>Витрати пального (місто)  на 100 km</th>
					<th>Об'єм двигуна куб.см.</th>
					<th>Потужність (кінські сили)</th>
					<th>Крутний момент, Нм</th>
					<th>Привід</th>
					<th>Кількість пасажирів</th>
					<th>Ціна грн.</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entity in parsedEntities">
					<td>{{ entity.cartype.title }}</td>
					<td>{{ entity.carclass.title }}</td>
					<td>{{ entity.brand.title }}</td>
					<td>{{ entity.model.title }}</td>
					<td>{{ entity.carcompl.title }}</td>
					<td>{{ entity.model_year }}</td>
					<td>{{ entity.fueltype.title }}</td>
					<td>{{ entity.transmission.title }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ entity.engine_capacity }}</td>
					<td>{{ entity.power_engine }}</td>
					<td>{{ entity.power_engine }}</td>
					<td>{{ entity.power_engine }}</td>
					<td>{{ entity.power_engine }}</td>
					<td>{{ entity.car_price }}</td>
				</tr>
			</tbody>
		</table>
	</md-content>
</md-card>
