<div class="quick-filter focus empty">
	<!--<span class="placeholder">placeholder</span>-->
	<ul>
		<li>
			<div>
				<a href="">kia</a>
				<a href="">x</a>
			</div>
		</li>
		<li>
			<div>
				<a href="">opel</a>
				<a href="">x</a>
			</div>
		</li>
		<li id="input">
			<input type="text" value="k">
			<input type="text" value="kia">
			<div>
				<div>kia</div>
				<div>opel</div>
				<div>zaz</div>
				<div>ваз</div>
			</div>
		</li>
	</ul>
	<!--<md-input-container>-->
		<!--<input ng-model="user.email" type="email" >-->
	<!--</md-input-container>-->
</div>