<md-card>
	<md-content layout-padding>
		<div layout layout-sm="column">
			<div flex="80">
				<quick-filter></quick-filter>
			</div>
			<!--<md-chips-->
				<!--ng-model="selectedVegetables"-->
				<!--flex="80"-->
				<!--md-autocomplete-snap-->
				<!--md-require-match="true"-->
				<!--md-on-append="createChip($chip)">-->

				<!--<md-autocomplete-->
					<!--md-selected-item="selectedItem"-->
					<!--md-search-text="searchText"-->
					<!--md-items="item in querySearch(searchText)"-->
					<!--md-item-text="item.name"-->
					<!--placeholder="Я хочу наити автомобиль...">-->
					<!--<div  md-highlight-html="searchText">-->
						<!--<span>{{item.name}}</span>-->
					<!--</div>-->
				<!--</md-autocomplete>-->
				<!--<md-chip-template ng-click="getSelectedChip($event, $chip)">-->
					<!--<span>-->
						<!--<strong>{{$chip.name}}</strong>-->
						<!--<em>({{$chip.type}})</em>-->
					<!--</span>-->
				<!--</md-chip-template>-->
			<!--</md-chips>-->
			<md-button class="md-raised"  flex="19" ng-click="filerButtonClick()" ng-class="filterClosed? 'md-primary' : ''">
				<ng-md-icon icon="tune" ></ng-md-icon>
				Фільтри
			</md-button>
		</div>
	</md-content>
	<md-content layout-padding class="filters-selected">
		<md-button class="md-raised md-primary" >Всі</md-button>
		<md-button class="md-raised md-primary">великий кросовер</md-button>
	</md-content>
	<md-content layout-padding class="filters" ng-class="filterClosed? 'closed' : ''">
		<div layout layout-sm="column">
			<div flex="50">
				<buttons-filter
					filter-circle="true"
					filter-header="'Рік'"
					filter-id="'model_year'"
					filter-title="'model_year'"
					filter-store="modelYearStore"
					ng-model="model_year"
					ng-change="triggerChange()" >
				</buttons-filter>
				<buttons-filter
					filter-header="'Тип пального'"
					filter-id="'id'"
					filter-title="'title'"
					filter-store="fuelTypesStore"
					ng-model="fuel_type_id"
					ng-change="triggerChange()" >
				</buttons-filter>
				<buttons-filter
					filter-header="'Трансмісія'"
					filter-id="'id'"
					filter-title="'title'"
					filter-store="carTransmissionsStore"
					ng-model="transmission_id"
					ng-change="triggerChange()" >
				</buttons-filter>
				<buttons-filter
					filter-header="'Тип авто'"
					filter-id="'id'"
					filter-title="'title'"
					filter-store="carTypesStore"
					ng-model="car_type_id"
					ng-change="triggerChange()" >
				</buttons-filter>
				<section>
					<h3>Особливості</h3>
					<md-button class=" md-raised md-mini md-primary">Всі</md-button>
					<md-button class="md-raised md-mini">BLUETOOTH</md-button>
					<md-button class="md-raised md-mini">usb</md-button>
					<md-button class="md-raised md-mini ">акустика</md-button>
					<md-button class="md-raised md-mini ">люк</md-button>
					<md-button class="md-raised md-mini ">автоматичні двері</md-button>
					<md-button class="md-raised md-mini ">золоті диски</md-button>
					<md-button class="md-raised md-mini ">Навігатор</md-button>
				</section>
			</div>
			<div flex="50">
				<buttons-filter
					filter-circle="true"
					filter-header="'Кількість дверей'"
					filter-id="'doors'"
					filter-title="'doors'"
					filter-store="doorsStore"
					ng-model="doors"
					ng-change="triggerChange()" >
				</buttons-filter>
				<buttons-filter
					filter-circle="true"
					filter-header="'Клас авто'"
					filter-id="'id'"
					filter-title="'title'"
					filter-store="carClassStore"
					ng-model="car_class_id"
					ng-change="triggerChange()" >
				</buttons-filter>
				<section>
					<h3>Об'єм двигуна</h3>
					<md-slider md-discrete ng-model="engineCapacity" step="0.1" min="1" max="8" aria-label="rating"></md-slider>
					<!--<div attach-handle-values="true" range-slider min="10" max="60" model-min="10" model-max="60" step="1"></div>-->
				</section>
				<section>
					<h3>Ціна</h3>
					<md-slider ng-model="price"  min="1000" max="500000" aria-label="rating"></md-slider>
				</section>
				<section id="complFilter">
					<h3>Комплектації </h3>
					<div class="md-input-container">
						<md-select multiple ng-model="car_compl_id" placeholder="Оберіть комплектації" ng-change="$parent.$broadcast('filter:change', 'car_compl_id', 'select')">
							<md-option ng-repeat="compl in carComplStore" value="{{ compl.get('id') }}" >{{compl.get('title')}}</md-option>
						</md-select>
					</div>
				</section>
			</div>
		</div>
	</md-content>
</md-card>
